# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
.pytest_cache/

# Node / React
node_modules/
dist/
.vite/

# LocalStack
.localstack/

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp

# Spring Boot
target/
.mvn/
